svg {
  fill: currentColor;
  vertical-align: text-top;
  margin-right: 0.3em;
  height: 1.2em;
  width: 1.2em;
}
.empty svg {
  margin-right: 0;
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  background: #6441a4;
  color: #fff;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
}

.buttonText {
  position: relative;
  flex-grow: 1;
  padding: 0.4em 0.7em;
  text-align: center;
}

.button:hover {
  border-color: #7d5bbe;
  background: #7d5bbe;
  color: #fff;
}

.button:focus {
  border-color: #9a7fcc;
  background: #7d5bbe;
  color: #fff;
  box-shadow: 0 0 6px 0 #7d5bbe;
}

.button:active {
  border-color: #7d5bbe;
  background: #6441a4;
  color: #fff;
  box-shadow: 0 0 6px 0 #7d5bbe;
}
