body {
  margin: 0;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.componentMode {
  transform-origin: top right;
  position: absolute;
  right: 0vw;
  bottom: 0vw;
}

.lowerThird {
  transform-origin: top right;
  position: absolute;
  right: 4vw;
  top: 70vh;
}
