body {
  margin: 0;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.componentMode {
  transform-origin: top right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentMode.left {
  justify-content: flex-start;
}
.componentMode.right {
  justify-content: flex-end;
}
