body {
	font-size: 80%;
	padding: 0.5em;
}

button {
	font-size: 0.8em;
	padding: 0.2em 0.6em;
	margin-bottom: 0.2em;
	margin-right: 0.2em;
}

input {
	font-size: 0.8em;
	margin-bottom: 0.2em;
	margin-right: 0.2em;
}

input[type="checkbox"] {
	margin: 0;
}

input:invalid {
	box-shadow: 0px 0px 2px 2px orangered;
}

.slotSelect {
	margin: 0.5em;
}

.hideAll {
	float: right;
	margin: 0;
}
