.followZone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  border-radius: 2px;
  user-select: none;
  position: absolute;
  cursor: grab;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.2);
  text-shadow: 0 0 4px white;
  padding: 0.5rem;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  font-size: 1.6vw;
}

.followZone:hover {
  border-color: white;
  box-shadow: 0px 0px 4px grey;
}

.resizeHandle {
  position: absolute;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: white;
}
.se {
  bottom: -2px;
  right: -2px;
  border-width: 0 3px 3px 0;
  cursor: nwse-resize;
}
.sw {
  bottom: -2px;
  left: -2px;
  border-width: 0 0 3px 3px;
  cursor: nesw-resize;
}
.ne {
  top: -2px;
  right: -2px;
  border-width: 3px 3px 0 0;
  cursor: nesw-resize;
}
.nw {
  top: -2px;
  left: -2px;
  border-width: 3px 0 0 3px;
  cursor: nwse-resize;
}

.followZone:hover .resizeHandle {
  border-color: black;
}

.dragging {
  cursor: grabbing;
}
