body {
  margin: 0;
  font-size: 62.5%;
  text-size-adjust: 100%;
  font-family: arial, sans-serif;
  color: #50596c;
}

body.light {
  color: #19171c;
  background-color: white;
}
body.dark {
  color: #dad8de;
  background-color: #0f0e11;
}

body.transparentBg {
  background-color: transparent;
}

div {
  margin: 0px;
}
button {
  font-size: 0.8em;
  background-color: #6441a4;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0.5em;
  padding: 0.3em 0.5em;
}
button:hover:not(:disabled) {
  background-color: #7d5bbe;
  border-color: #7d5bbe;
}
button:disabled,
input:disabled {
  opacity: 0.6;
  cursor: default;
}
