body {
  margin: 0;
  font-size: 62.5%;
  text-size-adjust: 100%;
  font-family: arial, sans-serif;
  color: #50596c;
}

body.light {
  color: #19171c;
}
body.dark {
  color: #dad8de;
}
div {
  margin: 0px;
}
button {
  background-color: #6441a4;
  border-radius: 0;
  border: 1px solid transparent;
  outline: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0.5em;
  padding: 0.5em 1rem;
}
button:hover:not(:disabled) {
  background-color: #7d5bbe;
  border-color: #7d5bbe;
}
button:disabled, input:disabled {
  opacity: 0.6;
  cursor: default;
}
