body {
  margin: 0;
  font-size: 62.5%;
  text-size-adjust: 100%;
  font-family: arial, sans-serif;
  color: #50596c;
}

body.light {
  color: #19171c;
}
body.dark {
  color: #dad8de;
}
div {
  margin: 0px;
}
button {
  background-color: rebeccapurple;
  border-radius: 0;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
button:hover {
  background-color: rgb(126, 86, 165);
}
button:disabled, input:disabled {
  opacity: 0.6;
  cursor: default;
}
